<div class="row">
  <div class="col mb-3">
    <a [routerLink]="'/games'" class="c-back-link" i18n>Back to list</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-game-title [game]="game" context="details"></app-game-title>

    <dl>
      <dt i18n>Players</dt>
      <dd>{{ game.stats.getPlayerCount() }}</dd>
      <dt i18n>Playtime</dt>
      <dd>{{ game.stats.getPlaytime() }}</dd>
      <dt i18n>BGG Rating</dt>
      <dd><app-ratings [rating]="game.stats.getRating()"></app-ratings></dd>
    </dl>
  </div>

  <div class="col-md-6 col-sm-12 order-first mb-3">
    <app-game-image [game]="game" context="details"></app-game-image>
  </div>
</div>
