.c-games-list {
  &__cell--image,
  &__th--image {
    width: 145px;
  }

  &__th {
    vertical-align: middle;
  }

  &__cell,
  &__th {
    &.--attributes {
      width: 100px;
      white-space: nowrap;
      text-align: center;
    }
  }

  &__viewport {
    height: 66vh;
  }
}
