<table class="c-games-list table table-hover">
  <caption>{{ total }} games &bull; Last updated: {{ updated | date:'longDate' }}</caption>
  <colgroup>
    <col class="c-games-list__col --image">
  </colgroup>
  <thead>
    <tr>
      <th scope="col" class="c-games-list__th">
        <app-orderby-filter label="Title" [orderBy]="orderBy.Title"></app-orderby-filter>
      </th>
      <th scope="col" class="c-games-list__th">
        <app-freetext-filter></app-freetext-filter>
      </th>
      <th scope="col" class="c-games-list__th --attributes">
        <app-orderby-filter label="Players" [orderBy]="orderBy.PlayerCount"></app-orderby-filter>
      </th>
      <th scope="col" class="c-games-list__th --attributes">
        <app-orderby-filter label="Playtime" [orderBy]="orderBy.Playtime"></app-orderby-filter>
      </th>
      <th scope="col" class="c-games-list__th --attributes">
        <app-orderby-filter label="BGG Rating" [orderBy]="orderBy.Rating"></app-orderby-filter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of filteredGames" class="c-games-list__tr">
      <td class="c-games-list__td">
        <app-game-image [game]="game"></app-game-image>
      </td>
      <td class="c-games-list__td">
        <app-game-title [game]="game"></app-game-title>
      </td>
      <td class="c-games-list__td text-center">{{ game.stats.getPlayerCount() }}</td>
      <td class="c-games-list__td text-center">{{ game.stats.getPlaytime() }}</td>
      <td class="c-games-list__td text-center">
        <app-ratings [rating]="game.stats.getRating()"></app-ratings>
      </td>
    </tr>
  </tbody>
</table>
