a {
  position: relative;
  cursor: pointer;
  color: currentColor;

  &::before, &::after {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(calc(100% + 2px), -4px);
  }

  &::before {
    content: '↓';
  }

  &::after {
    content: '↑';
  }

  &.is-active-desc::before {
    display: block;
  }

  &.is-active-asc::after {
    display: block;
  }
}
