<table class="c-game-list table table-hover">
  <caption>{{ total }} games &bull; {{ updated }}</caption>
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col" class="text-center">Players</th>
      <th scope="col" class="text-center">Playtime</th>
      <th scope="col" class="text-center">BGG&nbsp;Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let game of games; let i = index" class="c-game-list__tr">
      <td class="c-game-list__td">
        <app-game-image [game]="game"></app-game-image>
      </td>
      <td class="c-game-list__td">
        <app-game-title [game]="game"></app-game-title>
      </td>
      <td class="c-game-list__td text-center">{{ game.stats.getPlayerCount() }}</td>
      <td class="c-game-list__td text-center">{{ game.stats.getPlaytime() }}</td>
      <td class="c-game-list__td text-center">
        <app-ratings [rating]="game.stats.getRating()"></app-ratings>
      </td>
    </tr>
  </tbody>
</table>
